.career {
  padding-top: 10rem;
  padding-bottom: 10rem;

  &__form {
    display: flex;
    align-items: center;
    padding: 5rem 2rem;
    background: var(--color-grey-light);
    gap: 2rem;
  }
}
