<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="assets/css/main.css">
    
    <!-- Bootstrap CSS -->
    <title>Unimak</title>
    </head> 
<header class="header">
  <div class="container">
      <!--
      <nav class="navbar navbar-expand-lg navbar-light">
        <a href="index.html">
          <img class="header__logo" src="assets/images/unimak__logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Company
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="aboutus.html">History</a>
                <a class="dropdown-item" href="#">Values</a>
                <a class="dropdown-item" href="#">Fact & Figures</a>
                <a class="dropdown-item" href="#">Group Companies</a>
                <a class="dropdown-item" href="quality-policy.html">Quality Policy</a>
                <a class="dropdown-item" href="#">Features</a>
                <a class="dropdown-item" href="news.html">News</a>

              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="ceramics.html">Ceramics</a>
                <a class="dropdown-item" href="#">Automotives</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">  More items  </a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"> Dropdown item 1 </a></li>
                <li><a class="dropdown-item" href="#"> Dropdown item 2 </a>
                   <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="">Submenu item 1</a></li>
                    <li><a class="dropdown-item" href="">Submenu item 2</a></li>
                    <li><a class="dropdown-item" href="">Submenu item 3</a></li>
                 </ul>
                </li>
                <li><a class="dropdown-item icon-arrow" href="#"> Dropdown item 3 </a>
                   <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="">Another submenu 1</a></li>
                    <li><a class="dropdown-item" href="">Another submenu 2</a></li>
                    <li><a class="dropdown-item" href="">Another submenu 3</a></li>
                    <li><a class="dropdown-item" href="">Another submenu 4</a></li>
                 </ul>
                </li>
                <li><a class="dropdown-item icon-arrow" href="#"> Dropdown item 4 </a>
                   <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="">Another submenu 1</a></li>
                    <li><a class="dropdown-item" href="">Another submenu 2</a></li>
                    <li><a class="dropdown-item" href="">Another submenu 3</a></li>
                    <li><a class="dropdown-item" href="">Another submenu 4</a></li>
                 </ul>
                </li>
                <li><a class="dropdown-item" href="#"> Dropdown item 4 </a></li>
                <li><a class="dropdown-item" href="#"> Dropdown item 5 </a></li>
                </ul>
            </li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu 1 <b class="caret"></b></a>
              <ul class="dropdown-menu multi-level">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                  <li class="dropdown-submenu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                      <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li class="dropdown-submenu">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                              <ul class="dropdown-menu">
                                  <li class="dropdown-submenu">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                      <ul class="dropdown-menu">
                                          <li><a href="#">Action</a></li>
                                          <li><a href="#">Another action</a></li>
                                          <li><a href="#">Something else here</a></li>
                                          <li class="divider"></li>
                                          <li><a href="#">Separated link</a></li>
                                          <li class="divider"></li>
                                          <li><a href="#">One more separated link</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Referance</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="spare-parts.html">Spare Part</a>
                <a class="dropdown-item" href="technical-services.html">Technical Service</a>
              </div>
            </li>
            </li>

          </ul>

        </div>
        
      </nav>
      -->
      <nav class="navbar navbar-expand-lg navbar-light">
        
        <a href="index.html">
          <img class="header__logo" src="assets/images/unimak__logo.png" alt="">
        </a>
          <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
                    <span class="navbar-toggler-icon"></span>
          </button>
      
      
          <div id="navbarContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Company
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="aboutus.html">About Us</a>
                  <a class="dropdown-item" href="#">Fact &amp; Figures</a>
                  <a class="dropdown-item" href="#">Group Companies</a>
                  <a class="dropdown-item" href="quality-policy.html">Quality Policy</a>
                  <a class="dropdown-item" href="#">Features</a>
                  <a class="dropdown-item" href="news.html">News</a>
  
                </div>
              </li>
              <!-- Level one dropdown -->
              <li class="nav-item dropdown">
                <a id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Product</a>
                <ul aria-labelledby="dropdownMenu1" class="dropdown-menu border-0 shadow">
      
                  <!-- Level two dropdown-->
                  <li class="dropdown-submenu">
                    <a id="dropdownMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Ceramics</a>
                    <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
      
                      <!-- Level three dropdown-->
                      <li class="dropdown-submenu">
                        <a id="dropdownMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Sanitary Ware</a>
                        <ul aria-labelledby="dropdownMenu3" class="dropdown-menu border-0 shadow">
                          <li><a href="#" class="dropdown-item">Preparaiton</a></li>
                          <li><a href="#" class="dropdown-item">Casting</a></li>
                          <li><a href="#" class="dropdown-item">Drying</a></li>
                          <li><a href="#" class="dropdown-item">Glazing</a></li>
                          <li><a href="#" class="dropdown-item">Fring</a></li>
                          <li><a href="#" class="dropdown-item">Grinding</a></li>
                          <li><a href="#" class="dropdown-item">Modelling & Moulds</a></li>
                          <li><a href="#" class="dropdown-item">Handling</a></li>
                          <li><a href="#" class="dropdown-item">Quality Sorting</a></li>

                        </ul>
                      </li>
                      <!-- End Level three -->
                      <!-- Level three dropdown-->
                      <li><a href="#" class="dropdown-item">Model Development</a></li>
                      <li><a href="#" class="dropdown-item">Roof Tile & Brick</a></li>
                      <li><a href="#" class="dropdown-item">Table Ware</a></li>
                      <li><a href="#" class="dropdown-item">Technical Ceramics</a></li>
                      <!-- End Level three -->
      

                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a id="dropdownMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Automotives</a>
                    <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
    
                      <!-- Level three dropdown-->
                      <li><a href="#" class="dropdown-item">Model Development</a></li>
                      <li><a href="#" class="dropdown-item">Roof Tile & Brick</a></li>
                      <li><a href="#" class="dropdown-item">Table Ware</a></li>
                      <li><a href="#" class="dropdown-item">Technical Ceramics</a></li>
                      <!-- End Level three -->
      

                    </ul>
                  </li>

                  <!-- End Level two -->
                </ul>

              </li>
              <!-- End Level one -->
  
              <li class="nav-item">
                <a class="nav-link" href="#">Reference</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="spare-parts.html">Spare Part</a>
                  <a class="dropdown-item" href="technical-services.html">Technical Service</a>
                </div>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Unimak Academy
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Industry 4.0</a>
                  <a class="dropdown-item" href="#">Pilot Plant</a>
                  <a class="dropdown-item" href="#">Process Traninig</a>
                  <a class="dropdown-item" href="#">Sam Coperation</a>
                  <a class="dropdown-item" href="#">Resin Mould Know How</a>
                  <a class="dropdown-item" href="#">Know How Book</a>
                  <a class="dropdown-item" href="#">Spaggless Know How</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contacts</a>
              </li>      
            </ul>
          </div>
  
      </nav>
    </div>
      

      


</header>