.slider {
  height: 75vh;

  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4rem;
  }
  &__title {
    font-size: 4.2rem;
    width: 60%;
    font-weight: 600;
    color: var(--color-white);

    @include respond("phone") {
      font-size: 4.5rem;
    }
  }

  &__paragraph {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--color-white);
  }
}

.carousel {
  &-item {
  }
  &-item-next,
  &-item-prev,
  &-item.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-text {
    position: absolute;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    max-width: 148rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
